<!DOCTYPE html>


<title>RUBY ON RICHIE</title>

<h1>Welcome To Ruby on Richie</h1>

<h2>the home of coders on the path success</h2>

<% @articles.each do |article| %>
  <h1><%= article.title %></h1>
  <p><%= article.content %></p>
<%end%>